 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carl Nodzenski</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
<div class="navbar">
    <a href="../cartography.html">Back</a>

</div>
</head>

<body>
<style>

</style>

<div>
<layout>Union Cycliste Tour Route</layout>
</div>

<img src="../assets/carlnodzenski_Lab2_web.png" width=70% style="padding-bottom: 3%">

</body>
</html>
