 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carl Nodzenski</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet"> 
    
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
<div class="navbar">
    <a href="../spatial_analysis.html">Back</a>
  <a href="../resume.html">Resume</a>
  <a href="../portfolio.html">Portfolio</a>
  <a href="../about.html">About</a>
  <a href="../index.html">Home</a>
</div>
</head> 
    
<body>
<style>

</style>
    
<div>
<layout>Oregon Commuter Weighted Interpolation</layout>
</div>
    
<img src="../assets/GIS_Project_IDW_combined_web.jpg" width=100% style="padding-bottom: 3%">

</body>
</html>